<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HPHONE</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="Userassets/imgs/theme/hfavicon.jpeg"
    />
    <link rel="stylesheet" href="Userassets/css/main.css?v=3.4" />
  </head>

  <body></body>
</html>
